<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/fragments :: head('管理后台')}">
</head>
<body>
    <!-- 顶部导航栏 -->
    <nav th:replace="~{layout/fragments :: navbar}"></nav>
    
    <div class="container-fluid">
        <div class="row">
            <!-- 左侧固定侧边栏 -->
            <div class="col-md-2 p-0">
                <div th:replace="~{layout/fragments :: sidebar}"></div>
            </div>
            
            <!-- 主内容区 -->
            <main class="col-md-10 ms-sm-auto px-md-4">
                <!-- 消息提示 -->
                <div th:replace="~{layout/fragments :: messages}"></div>
                
                <!-- 页面标题区域(由子页面提供) -->
                <div layout:fragment="page-header">
                </div>
                
                <!-- 页面内容 -->
                <div layout:fragment="content">
                </div>
            </main>
        </div>
    </div>
    
    <!-- JavaScript -->
    <div th:replace="~{layout/fragments :: scripts}"></div>
    
    <!-- 页面特定脚本 -->
    <th:block layout:fragment="scripts-extra"></th:block>
</body>
</html>
